.card-wrap {
  width: 90%;
  box-shadow: 0 4rpx 16rpx rgba(0, 0, 0, 0.2);
  padding: 20rpx;
  border-radius: 30rpx;
  position: relative;
  transform: rotate(0.2deg);
}
.card-title {
  display: flex;
  align-items: center;
}
