.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

@import './background.less';
@import './font.less';
@import './card-wrap.less';
