var imageMap = require('./imageMap.wxs')

module.exports = {
  getImageUrl: function (image) {
    if (!image) {
      return ''
    }
    var imageEntity = imageMap[image]
    if (imageEntity) {
      if (imageEntity.local) {
        var imageFileName = image.replace('.png', '.jpg')
        return '../assets/img/splatnet' + imageFileName
      } else if (imageEntity.src) {
        return imageEntity.src
      }
    }
    return 'https://app.splatoon2.nintendo.net' + image
  }
}
