function formatMinute(minute) {
  var m = '0' + minute
  return m.slice(-2)
}

/** 只生成时间 */
function generateTimeString(time) {
  var hour = time.getHours()
  var minute = formatMinute(time.getMinutes())
  var meridiem = hour < 12 ? 'AM' : 'PM'
  hour = hour === 0 ? 12 : hour > 12 ? hour - 12 : hour
  return hour + ':' + minute + ' ' + meridiem
}

module.exports = {
  generateScheduleTimeString: function (startTime, endTime) {
    if (!startTime || !endTime) {
      return ''
    }
    var now = getDate()
    var start = getDate(parseInt(startTime + '000'))
    var end = getDate(parseInt(endTime + '000'))
    var isStartTimeToday = start.getDate() === now.getDate()
    var string = ''
    if (!isStartTimeToday) {
      string += (start.getMonth() + 1) + '/' + start.getDate() + ' '
    }
    string += generateTimeString(start) + ' - '
    string += generateTimeString(end)
    return string
  },
  generateSalmonRunTimeString: function (startTime, endTime) {
    if (!startTime || !endTime) {
      return ''
    }
    var now = getDate()
    var start = getDate(parseInt(startTime + '000'))
    var end = getDate(parseInt(endTime + '000'))
    var string = ''
    string += (start.getMonth() + 1) + '/' + start.getDate() + ' '
    string += generateTimeString(start) + ' - '
    string += (end.getMonth() + 1) + '/' + end.getDate() + ' '
    string += generateTimeString(end)
    return string
  },
  generateShopTimeString: function (endTime) {
    if (!endTime) {
      return '';
    }
    var now = getDate()
    var end = getDate(parseInt(endTime + '000'))
    var hours = 0
    var minutes = 0
    if (end.getDate() !== now.getDate()) {
      hours = (24 - now.getHours()) + end.getHours()
    } else {
      hours = end.getHours() - now.getHours()
    }
    if (hours < 0) {
      return '結束'
    } else if (hours === 0) {
      minutes = end.getMinutes() - now.getMinutes()
      return minutes + '分'
    } else {
      return hours + '小時'
    }
  }
}
