function formatMinute(minute) {
  var m = '0' + minute
  return m.slice(-2)
}

/** 只生成时间 */
function generateTimeString(time) {
  var hour = time.getHours()
  var minute = formatMinute(time.getMinutes())
  var meridiem = hour < 12 ? 'AM' : 'PM'
  hour = hour === 0 ? 12 : hour > 12 ? hour - 12 : hour
  return hour + ':' + minute + ' ' + meridiem
}

module.exports = {
  generateScheduleTimeString: function (startTime, endTime) {
    if (!startTime || !endTime) {
      return ''
    }
    var now = getDate()
    var start = getDate(parseInt(startTime + '000'))
    var end = getDate(parseInt(endTime + '000'))
    var isStartTimeToday = start.getDate() === now.getDate()
    var string = ''
    if (!isStartTimeToday) {
      string += (start.getMonth() + 1) + '/' + start.getDate() + ' '
    }
    string += generateTimeString(start) + ' - '
    string += generateTimeString(end)
    return string
  },
  generateSalmonrunTimeString: function (startTime, endTime) {
    if (!startTime || !endTime) {
      return ''
    }
    var now = getDate()
    var start = getDate(parseInt(startTime + '000'))
    var end = getDate(parseInt(endTime + '000'))
    var string = ''
    string += (start.getMonth() + 1) + '/' + start.getDate() + ' '
    string += generateTimeString(start) + ' - '
    string += (end.getMonth() + 1) + '/' + end.getDate() + ' '
    string += generateTimeString(end)
    return string
  }
}
