function formatMinute(minute) {
  var m = '0' + minute
  return m.slice(-2)
}
module.exports = {
  generateScheduleTimeString: function (startTime, endTime) {
    if (!startTime || !endTime) {
      return ''
    }
    var now = getDate()
    var start = getDate(parseInt(startTime + '000'))
    var end = getDate(parseInt(endTime + '000'))
    var isStartTimeToday = start.getDate() === now.getDate()
    var isEndTimeToday = end.getDate() === now.getDate()
    var string = ''
    if (!isStartTimeToday) {
      string += (start.getMonth() + 1) + '/' + start.getDate() + ' '
    }
    string += start.getHours() + ':' + formatMinute(start.getMinutes()) + ' - '
    if(isStartTimeToday && !isEndTimeToday){
      string += (end.getMonth() + 1) + '/' + end.getDate() + ' '
    }
    string += end.getHours() + ':' + formatMinute(end.getMinutes())
    return string
  }
}
